body{
    background-color: #ffe5b4;
    margin: 0 ;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #4A4A4A;
}
button{
    width: 250px;
    height: 50px;
    background-color: #B5B8B1;
    border: none;
    margin-bottom: 10px;
}
input{
    width: 80%;
    padding: 15px;
    margin: 0 0 20px 0;
    display: inline-block;
    border: none;
    background-color: #ffbb99;
}
.form-log{
    width: 400px;
    height: 100%;
    margin: auto;
}
.log{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 25px 15px 15px 15px;
    box-shadow: 0 0 8px;
    border-radius: 0.7em;
}
.form-reg{
    width: 400px;
    height: 100%;
    margin: auto;
}
.reg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 25px 15px 15px 15px;
    box-shadow: 0 0 8px;
    border-radius: 0.7em;
}
.btn-1:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: #C5D0E6;
}
.btn-2:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: #C5D0E6;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;

}
.profile{
    /*background-color: */
    border: solid 2px;
    border-radius: 7px;
    margin-top: 150px;
    padding: 10px 5px 10px 10px;
}
nav {
    background-color: #ffbb99;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a{
    padding: 5px 8px;
}